<header class="col-1">
  <h1>Angular Nest Demo</h1>
  <div>Languages:
    <ng-template ngFor let-lang [ngForOf]="languages">
      <span class="locale">
        <span *ngIf="lang !== localeId"><a href="/{{lang}}/" title="{{lang}}" class="i18n-link">{{lang}}</a> </span>
        <span *ngIf="lang === localeId">{{lang}} </span>
      </span>
    </ng-template>
  </div>
</header>
<div class="col-1">
  <p>Translated content below:</p>
</div>
<div class="translated">
  <div class="col-1">
    <h3 i18n="site header|Header title@@greetingTitle">Hello</h3>
  </div>
</div>

<router-outlet></router-outlet>
